@tailwind base;
@tailwind components;
@tailwind utilities;


.caja-calendario {
  height: 95vh;
  width: 70vw;
}


.rbc-time-slot {
  background-color: white;
}

.sidebar{
  color:white
}

.logo-icon{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-bar{
  height: 88vh;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1.1rem;
}

.toggle-theme-btn{
  position: absolute;
  bottom: 30px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.toggle{
  margin-left: 15px;
}


/*Fondo del Login*/
.caja{
  background-image: linear-gradient(
      rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/G.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: right top;
  min-height: 45vh;
}

/*Boton de enviar Login*/
.sub{  
  height: 45px; 
  border:none;
  border-radius:30px;
  outline: none;
  background: rgba(255,255,255,0.7);
  cursor:pointer;
  transition: .3s ease-in-out;
}
.sub:hover{
  scale: 1.1; 
  background: white
}

 /*Inputs*/
 .input-field {
  font-size: 20px;
  background: rgba(255, 255, 255, 0.2);  
  color: #fff;  
  height: 50px;  
  width: 100%;  
  padding: 0 10px 0 45px; 
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 30px; 
  outline: none;  
  transition: .5 ease-in-out;
}

.input-field:hover,
.input-field:focus {
  background: rgba(255, 255, 255, 0.25); /* Cambio de fondo al pasar el mouse o al enfocar */
}

/* Color del placeholder */
::-webkit-input-placeholder {
  color: #fff; /* Color del texto del placeholder */
}

